@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(./images/womangym.jpg
);
    background-position: center, center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 7vh;
    background: rgba(22, 22, 22, 0.2);
}

.menu-content {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1, 8rem;
    padding-top: 10px;
}

.style {
    color: rgb(255, 174, 0);
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

#image {
    width: 20px;
    height: 20px;
}

#image2 {
    width: 20px;
    height: 20px;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(255, 174, 0);
    transition: all 0.7s ease;
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-text {
    width: 850px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.secondary-text {
    margin-bottom: 5rem;
    font-size: 2rem;
    color: rgb(178, 176, 173);
    text-transform: uppercase;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.btn button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.1rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
    font-family: "Lato", sans-serif;
}


.btn button:hover {
    color: rgb(255, 174, 0);

}



.btn button:before {
    content: "";
    border-radius: 20px;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61, 0.5);
    z-index: -1;
    transition: 1s;
}

.btn button:hover:before {
    width: 100%;
}